.contact {
    /* border: 2px solid red; */
}

.contact .contacter {
    padding: 0px;
    justify-content: center;
    /* border: 2px solid red; */
}

div#home {
    margin-bottom: 10%;
}

.contact .contacter .content {
    margin-bottom: 10%;
    /* border: 2px solid blue; */
    justify-content: center;
}

.contact .contacter  form {
    width: 100%;
}

.contact .contacter  form #blogImg {
    /* border: 2px solid red; */
    padding: 20px;
    background-color: #065506;
}

.contact .contacter  form label {
    color: black;

    font-size: 2em;
    margin-bottom: 10px;
    display: block;
}

@media only screen and (max-width: 600px) {
    .contact {
        border: 2px solid red;
        /* width: 100%; */
        padding: 0px;
        display: block;
    }

    .contact .contacter {
        /* width: 100%; */
        border: 2px solid darkorange;
        padding: 0px;
    }

    .contact .contacter .content {
        border: 2px solid blue;
        

    }

    .contact .contacter .content form input {
        width: 100%;
    }
}